<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Link Kids Song</title>
    <!-- 파비콘 -->
    <link
      rel="icon"
      type="image/svg+xml"
      th:href="@{/assets/img/favicon.svg}"
      href="/assets/img/favicon.svg"
    />
    <!-- CSS -->
    <link
      type="text/css"
      rel="stylesheet"
      th:href="@{/assets/css/login.css}"
      href="/assets/css/login.css"
    />
    <!-- JS -->
    <script th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/assets/js/common.js}"></script>
    <script th:src="@{/assets/js/user/login.js}"></script>
  </head>
  <body>
    <div class="Login-wrapper">
      <div class="Login-image">
        <img th:src="@{/assets/img/user/login_img.svg}" alt="LoginImage" />
      </div>
      <div class="Login-container">
        <!-- 로고 -->
        <div class="Login-logo">
          <img th:src="@{/assets/img/logo_img.svg}" alt="Logo" />
        </div>
        <!-- 로그인 입력 -->
        <div class="Login-form">
          <label for="id">ID</label>
          <input
            type="text"
            id="id"
            name="id"
            placeholder="아이디를 입력하세요"
          />
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="비밀번호를 입력하세요"
          />
          <!-- 로그인 버튼 -->
          <button type="submit">로그인</button>
        </div>
        <!-- 기타 링크 -->
        <div class="otherLink">
          <a th:href="@{/signup}">회원가입</a>
          <a th:href="@{/auth/findId}">아이디 찾기</a>
          <a th:href="@{/auth/findPassword}">비밀번호 찾기</a>
        </div>
      </div>
    </div>
  </body>
</html>
